*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
  
}
body {
    scroll-behavior: smooth;
    transition: 2s;
    border: 3px solid green;
    margin: 5px;
    color: green;
}
header{
  text-align: center;
  margin-top: 20px;
}
#f_task{
  padding: 50px 0 50px;
  line-height: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
#s_task{
  padding: 50px 0 50px;
  line-height: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
#t_task{
  padding: 50px 0 50px;
  line-height: 30px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
}
.p{
  color: red;
  font-size: 30px;
}
#s{
  display: none;
  margin-top: 20px;
}
#t{
  display: none;
  margin-top: 20px;
}
#u{
  display: none;
  margin-top: 20;
}
button{
  width: 80px;
  height: 40px;
  background-color: #3838ED;
  color: #fff;
  text-shadow: 2px 0px 5px lightgrey;
  border-radius: 5px;
  box-shadow: 2px 0px 5px lightgrey;
  border: none;
  margin-top: 15px;
}
button:disabled {
  background-color: #2D326B;
  border-radius: 5px;
}
#cBox{
  margin: 10px;
  border: 3px solid red;
  padding: 10px;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-top: 10px;
  border-radius: 5px;
}
#copyBox{
  display: none;
}
iframe{
  width: 98%;
}
